@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* overflow: hidden; */
  color: #fff;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body{
  background-image: url(../public/bg.jpeg);
  background-size: cover;
}

.bg{
  background-image: url(../public/bg.jpeg);
  background-size: cover;
}

/* .font-paytone{
  font-family: var(--font-roboto_mono);
} */

.disabled{
  pointer-events: none;
}
.choose{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  /* width: 100%; */
  width: fit-content;
  margin: 1rem 0;
}
.choose li{
  display: block;
  position: relative;
  margin-right: 1rem;
  /* width: 33.333%; */
  width: 250px;
}
.choose.mod2{
  flex-wrap: wrap;
  width: 100%;
}
.choose.mod2 li{
  display: block;
  position: relative;
  margin-right: 0;
  width: 33.333%;
  /* width: 250px; */
}
.choose.mod2 label{
  padding: .3rem;
}
.choose.mod3{
  flex-wrap: wrap;
}
.choose.mod3 li{
  display: block;
  position: relative;
  margin-right: 0;
  width: 100%;
  /* width: 250px; */
}
.choose.mod4 label{
  padding: 0;
}
.choose.mod4{
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.choose.mod4 li{
  display: block;
  position: relative;
  margin-right: 0;
  width: 50%;
  /* width: 250px; */
}
.choose.mod4 label{
  padding: 0;
}
.choose.mod5{
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.choose.mod5 li{
  display: block;
  position: relative;
  margin-right: 0;
  width: 33.333%;
  /* width: 250px; */
}
.choose.mod5 label{
  padding: .3rem;
}
.choose.mod6 label{
  padding: 0;
}
.choose.mod6{
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.choose.mod6 li{
  display: block;
  position: relative;
  margin-right: 0;
  width: 50%;
  /* width: 250px; */
}
.choose.mod6 label{
  padding: 0;
}
@media only screen and (max-width: 1023px) {
  .choose li{
    width: 110px;
    margin-right: .15rem;
  }
  .choose.mod li{
    width: 49%;
    margin-right: .15rem;
  }
}
.choose li:last-child{
  margin-right: 0;
}
.choose li label{
  border: 2px solid transparent;
  box-shadow: 3px 3px 0px 0px transparent;
  transition: all ease 300ms;
  width: 100%;
}
.choose li label p{display: none;}
.choose [type="radio"]:checked,
.choose [type="radio"]:not(:checked) {
    position: absolute;
    left: 0;top: 0;
    opacity: 0;
}

.choose [type="radio"]:checked + label{
  /* border-color: #fff;
  box-shadow: 3px 3px 0px 0px #fff; */
  transform: scale(1.02);
}

.choose [type="radio"]:checked + label,
.choose [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
.choose [type="radio"]:checked + label:before,
.choose [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    opacity: 0;
}
.choose [type="radio"]:checked + label:after,
.choose [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 10px;
    right: 12px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.choose.mod3 [type="radio"]:checked + label:after,
.choose.mod3 [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 60px;
    right: 79px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.choose.mod4 [type="radio"]:checked + label:after,
.choose.mod4 [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 27px;
    right: 64px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.choose.mod5 [type="radio"]:checked + label:after,
.choose.mod5 [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 27px;
    right: 64px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}.choose.mod5.mod [type="radio"]:checked + label:after,
.choose.mod5.mod [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 27px;
    right: 32px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.choose.mod6 [type="radio"]:checked + label:after,
.choose.mod6 [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 27px;
    right: 62px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.choose [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.choose [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.choose2{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.choose2 li{
  display: block;
  position: relative;
  margin-right: 15px;
  width: 33.333%;
}
.choose2 li:last-child{
  margin-right: 0;
}
.choose2 li label{
  border: 2px solid #888;
  box-shadow: 3px 3px 0px 0px transparent;
  transition: all ease 300ms;
  padding: 10px 15px;
  background-color: #d2d0d0;
  color: #888;
  width: 100%;
  text-align: center;
  line-height: 1.1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose2 [type="radio"]:checked,
.choose2 [type="radio"]:not(:checked) {
    position: absolute;
    left: 0;top: 0;
    opacity: 0;
}

.choose2 [type="radio"]:checked + label{
  background-color: #fff;
  border-color: #000;
  box-shadow: 0px 0px 8px 0px #efedea;
  color: #000 !important;
  transform: scale(1.05);
}

.choose2 [type="radio"]:checked + label,
.choose2 [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    /* display: inline-block; */
}

.choose3{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.choose3 li{
  display: block;
  position: relative;
  margin-right: 25px;
  width: 33.333%;
}
.choose3 li:last-child{
  margin-right: 0;
}
.choose3 li label{
  border: 2px solid #888;
  box-shadow: 3px 3px 0px 0px transparent;
  transition: all ease 300ms;
  padding: 30px 15px;
  background-color: #f5f5f5;
  color: #8e8c8c;
  width: 100%;
  text-align: center;
  line-height: 1.1;
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
}
.choose3 [type="radio"]:checked,
.choose3 [type="radio"]:not(:checked) {
    position: absolute;
    left: 0;top: 0;
    opacity: 0;
}

.choose3 [type="radio"]:checked + label{
  background-color: #811A53;
  border-color: #E5E40A;
  box-shadow: 0px 0px 8px 0px #efedea;
  color: #E5E40A !important;
  transform: scale(1.05);
}

.choose3 [type="radio"]:checked + label,
.choose3 [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    /* display: inline-block; */
}


.canvas-qr canvas{
  width: 100% !important;
  height: auto !important;
}

/* AMERO */
.bg-amero{
  background-image: url(../public/amero/bg.jpeg);
  background-size: cover;
  background-position: center;
}

.choose-amero{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  width: 100%;
  /* width: fit-content;   */
  margin: 1rem 0;
}
.choose-amero li{
  display: block;
  position: relative;
  margin-right: 1rem;
  width: 33.333%;
  /* width: 250px; */
}
@media only screen and (max-width: 1023px) {
  .choose-amero li{
    /* width: 110px; */
    margin-right: .15rem;
  }
}
.choose-amero li:last-child{
  margin-right: 0;
}
.choose-amero li label{
  border: 5px solid transparent;
  box-shadow: 3px 3px 0px 0px transparent;
  transition: all ease 300ms;
  width: 100%;
}
.choose-amero li label p{display: none;}
.choose-amero [type="radio"]:checked,
.choose-amero [type="radio"]:not(:checked) {
    position: absolute;
    left: 0;top: 0;
    opacity: 0;
}

.choose-amero [type="radio"]:checked + label{
  border-color: #fff;
  /* box-shadow: 3px 3px 0px 0px #fff; */
  transform: scale(1.02);
}

.choose-amero [type="radio"]:checked + label,
.choose-amero [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
.choose-amero [type="radio"]:checked + label:before,
.choose-amero [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    opacity: 0;
}
.choose-amero [type="radio"]:checked + label:after,
.choose-amero [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 45px;
    height: 45px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 10px;
    right: 12px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
@media only screen and (max-width: 1023px) {
  .choose-amero [type="radio"]:checked + label:after,
  .choose-amero [type="radio"]:not(:checked) + label:after {
    width: 20px;
    height: 20px;
  }
}
.choose-amero [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.choose-amero [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.choose2-amero{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.choose2-amero li{
  display: block;
  position: relative;
  margin-right: 15px;
  width: 33.333%;
}
.choose2-amero li:last-child{
  margin-right: 0;
}
.choose2-amero li label{
  border: 2px solid #E1CD96;
  box-shadow: 3px 3px 0px 0px transparent;
  transition: all ease 300ms;
  padding: 10px 15px;
  background-color: #050606;
  color: #fff;
  width: 100%;
  text-align: center;
  /* line-height: 1.1; */
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  /* .choose2-amero li label{
    height: 50px;
  } */
}
.choose2-amero [type="radio"]:checked,
.choose2-amero [type="radio"]:not(:checked) {
    position: absolute;
    left: 0;top: 0;
    opacity: 0;
}

.choose2-amero [type="radio"]:checked + label{
  background-color: #fff;
  border-color: #000;
  box-shadow: 0px 0px 8px 0px #efedea;
  color: #000 !important;
  transform: scale(1.05);
}

.choose2-amero [type="radio"]:checked + label,
.choose2-amero [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    /* display: inline-block; */
}
/* !AMERO */

/* KAI */
.bg-kai{
  background-image: url(../public/kai/bg.jpeg);
  background-size: cover;
  background-position: top center;
}

/* MIZUHO */
.bg-mizuho{
  background-image: url(../public/mizuho/bg.jpeg);
  background-size: cover;
  background-position: top center;
}

/* HMS */
.bg-hms{
  background-image: url(../public/hms/bg2.jpeg);
  background-size: cover;
  background-position: top center;
}

/* IQOS */
.bg-iqos{
  background-image: url(../public/iqos/bg.jpeg);
  background-size: cover;
  background-position: top center;
}
.bg-iqos-border{
  background-image: url(../public/iqos/border.png);
  background-size: cover;
  background-position: top center;
}

/* MAGNUMOTION */
.bg-magnumotion{
  background-image: url(../public/magnumotion/bg.jpeg);
  background-size: cover;
  background-position: top center;
}

/* DEXA */
.bg-dexa{
  background-image: url(../public/dexa/bg.jpeg);
  background-size: cover;
  background-position: top center;
}

/* GG JDM */
.bg-ggjdm{
  background-image: url(../public/ggjdm/bg.jpeg);
  background-size: cover;
  background-position: top center;
}

/* //PILIHSHADOW */
.pilihshadow{
  position: relative;
  /* background-color: red; */
  height: 100%;
  opacity: .035;
}
.pilihshadow input{
  position: absolute;
  left: 0;right: 0;
  width: 100%;height: 100%;
}
.pilihshadow label{
  position: absolute;
  left: 0;right: 0;
  width: 100%;height: 100%;
}

/* TAUTAUFEST */
.bg-tautaufest{
  background-image: url(../public/tautaufest/bg.jpeg);
  background-size: cover;
  background-position: top center;
}